<div class="container main-container ">
  <h1>Canal Youtube</h1>
  <div class="row">
    <div class="card-columns" *ngIf="videos">
      <div class="card w-75" *ngFor="let video of videos">
        <img class="card-img-top img-fluid" [src]="video.snippet.thumbnails.medium.url" alt="">
        <div class="card-block">
          <h6 class="card-title">{{video.snippet.title}}</h6>
          <button class="btn btn-outline-primary btn-sm" (click)="verVideo(video)"><i class="fa fa-search" aria-hidden="true"></i>Ver video</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-outline-info" (click)="cargarMas()">Cargar Mas</button>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="video">
      <div class="modal-header">
        <h4 class="modal-title" id="modelTitleId">{{video.snippet.title}}</h4>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="315" [src]="video.snippet.resourceId.videoId|pipe" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Close</button>
      </div>
    </div>
  </div>
</div>
